* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
}

.max-width {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: skyblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 150px;
    background: skyblue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: black;
  }
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
  }
  .nav .nav-links a {
    transition: all 0.2s linear;
  }
  .nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}

html,body{
  display: grid;
  height: 100%;
  place-items: center;
background-image: url(bg3.jpg);
}
.container{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container .box{
width: 100%;
  background-image: url(bg4.webp);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  border-radius: 5px;
}
.container .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: skyblue;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p{
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: black;
  font-size: 30px;
  font-weight: 600;
}
@media (max-width:1160px){
  .container .box{
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width:1160px){
  .container .box{
    width: 100%;
  }
}
.container2 {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container2 .box1 {
  width: calc(50% - 50px);
  background: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}
@media (max-width:1160px){
  .container2 .box1{
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width:1160px){
  .container2 .box1{
    width: 100%;
  }
}
.footerContainer{
  width: 100%;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialIcons a:hover{
  background-color: black;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerBottom{
  color: black;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  color: white;
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}